body {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.submarine,
.destroyer,
.battleship,
.carrier {
  cursor: pointer;
  display: flex;
  width: fit-content;
}

.selected {
  opacity: 0.6;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  outline: 1px solid grey;
}

.sidebar .cell {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  outline: 1px solid grey;
}

.ships {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sample {
  display: flex;
  gap: 10px;
  align-items: center;
}

p {
  margin: 0;
}

.board .cell {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
}

.player .cell,
.enemy .cell {
  position: relative;
}

.enemy .cell:not(.hit)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: grey;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.player .hit::before,
.player .hit::after,
.enemy .hit::before,
.enemy .hit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background: black;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

.player .hit::after,
.enemy .hit::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.enemy .cell.ship.hit {
  background-color: lightseagreen;
}

.player .cell.ship.hit {
  background-color: lightcoral;
}

.enemy .cell:not(.hit):hover {
  background-color: lightgrey;
}

.enemy .cell:not(.hit):hover::after {
  opacity: 1;
}

.board .ship,
.sidebar .cell {
  background-color: aquamarine;
}

h1,
h2 {
  text-align: center;
}
