:root {
  --color1: lightgreen;
  --color2: grey;
  --color3: red;
  --color4: lightseagreen;
  --color5: lightcoral;
  --color6: lightgrey;
  --color7: black;
  --color8: rgb(80, 160, 130);
  --color9: rgb(40, 80, 70);
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container {
  text-align: center;
}

.submarine,
.destroyer,
.battleship,
.carrier {
  cursor: pointer;
  display: flex;
  width: fit-content;
}

.selected {
  outline: 2px solid var(--color3);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  outline: 1px solid var(--color2);
}

.sidebar .cell {
  width: 30px;
  height: 30px;
  border: 1px solid var(--color2);
  outline: 1px solid var(--color2);
}

.ships {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orientation {
  padding: 5px 0 4px 0;
  cursor: pointer;
  border: 1px solid var(--color2);
  outline: 1px solid var(--color2);
  background-color: var(--color1);
}

.orientation:active {
  box-shadow: inset 3px 2px 3px var(--color9);
}

.sample {
  display: flex;
  gap: 10px;
  align-items: center;
}

p {
  margin: 0;
}

.board .cell {
  width: 30px;
  height: 30px;
  border: 1px solid var(--color2);
}

.player .cell,
.enemy .cell {
  position: relative;
}

.enemy .cell:not(.hit)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: var(--color2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.player .hit::before,
.player .hit::after,
.enemy .hit::before,
.enemy .hit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background: var(--color7);
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

.player .hit::after,
.enemy .hit::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.enemy .cell.ship.hit {
  background-color: var(--color4);
}

.player .cell.ship.hit {
  background-color: var(--color5);
}

.enemy .cell:not(.hit):hover {
  background-color: var(--color6);
}

.enemy .cell:not(.hit):hover::after {
  opacity: 1;
}

.board .ship,
.sidebar .cell {
  background-color: var(--color1);
}

h1,
h2 {
  text-align: center;
}

.start {
  cursor: pointer;
  margin-top: 30px;
  padding: 8px 20px;
  font-weight: bold;
  border: none;
  background-color: var(--color1);
  outline: 2px solid var(--color2);
}

.start:active {
  box-shadow: inset 3px 2px 3px var(--color8);
}
